useDynLib(rgdal)

import(methods)
import(sp)

exportMethods(spTransform)
exportMethods(closeDataset)
exportMethods(initialize)
exportMethods(coerce)

exportClass(GDALDataset)
exportClass(GDALDriver)
exportClass(GDALMajorObject)
exportClass(GDALRasterBand)
exportClass(GDALReadOnlyDataset)
exportClass(GDALTransientDataset)
exportClass(CRS)

export(project, make_EPSG)
export(CRSargs)
export(putRasterData, saveDataset, copyDataset, deleteDataset, saveDatasetAs)
export(getGDALDriverNames, getDriverName, getDriverLongName, gdalDrivers)
export(getDescription, getMetadata, setMetadata, appendMetadata)
export(getRasterData, getRasterTable, getProjectionRef)
export(getRasterBand, getRasterBlockSize)
export(getDriver, GDAL.close, GDAL.open, getColorTable,
  getGeoTransFunc, sub.GDROD, SGDF2RGB, asSGDF_GROD, RGB2PCT)
export(make_EPSG, project, readGDAL, writeGDAL, showWKT)
export(readOGR, ogrInfo, ogrFIDs, ogrDrivers, writeOGR)
export(GDALinfo, print.GDALobj)
export(displayDataset)

export(spTransform, spTransform.SpatialPoints, 
  spTransform.SpatialPointsDataFrame, spTransform.SpatialLines, 
  spTransform.SpatialLinesDataFrame, spTransform.SpatialPolygons, 
  spTransform.SpatialPolygonsDataFrame)

S3method(spTransform, SpatialPoints)
S3method(spTransform, SpatialPointsDataFrame)
S3method(spTransform, SpatialLines)
S3method(spTransform, SpatialLinesDataFrame)
S3method(spTransform, SpatialPolygons)
S3method(spTransform, SpatialPolygonsDataFrame)
S3method(print, GDALobj)

